/* VARIABLES */
:root {
    --white: #ffffff;
    --pink: #E6317C;
    --orange: #EC7D10;
    --dark-blue: #11212a;
    --dark-grey: #3C3C3C;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Raleway, serif;
    height: 100%;
}

a {
    text-decoration: none;
}

/* GLOBAL CLASSES */
.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* CUSTOM STYLES */
header {
    height: 60px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

h1 {
    font-weight: 400;
    color: var(--white);
}

.hero {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/sunset.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.search {
    height: 80%;
}

.search-h2 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--white);
}

.search-icon, .current-weather-icon {
    color: var(--white);
}

.search-icon {
    position: relative;
    font-size: 1.3rem;
    z-index: 1;
    right: 125px;
    top: 33px;
    color: var(--white);
    cursor: pointer;
    width: 0;
}

input {
    padding-left: 50px;
    height: 2em;
    width: 15em;
    border-radius: 30px;
    background-color: transparent;
    color: var(--white);
    border: 3px solid #fff;
    height: 40px;
    font-size: 1em;
}

.searchBtn {
    margin-top: 20px;
    border-radius: 20px;
    height: 40px;
    border: none;
    background: linear-gradient(to left top, #E6317C, #EC7D10);
    color: var(--white);
    width: 150px;
    font-size: 1.5rem;
}

.searchBtn:hover {
    cursor: pointer;
    background: linear-gradient(to left top,#EC7D10, #E6317C);
}

main {
    height: 100%;
    background: var(--dark-blue);
}

.para {
    background-color: var(--dark-blue);
    color: var(--white);
    padding-top: 50px;
}

.current-weather {
    background-color: var(--dark-blue);
    color: var(--white);
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.current-city-h2 {
    font-weight: 100;
    font-size: 60px;
}

.current-date {
    margin-top: 10px;
}

.current-weather-icon {
    font-size: 30px;
    padding: 10px 10px 10px 0;
}

.current-temp {
    font-size: 30px;
    padding: 10px 0 10px 10px;
}

.current-humidity, .current-wind {
    padding: 10px 0;
}

.forecast-h2 {
    background-color: var(--dark-blue);
    color: var(--white);
    font-weight: 300;
}

.forecast {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
}

.weather-card {
    background: linear-gradient(to left top, #11212a, #535E65);
    border-radius: 10px;
    margin: 20px;
}

.future-date {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.future-temp, .future-icon {
    font-size: 25px;
}

.future-wind {
    margin-bottom: 7px;
}

.future-humidity {
    margin-top: 7px;
}

.card-content {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

footer {
    height: 50px;
    background-color: var(--dark-blue);
    color: var(--white)
}

@media screen and (max-width: 755px) {
    .forecast {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px 200px;
    }
}

@media screen and (max-width: 505px) {
    .forecast {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px 200px 200px 200px;
    }
}